<div class="weui-flex wy-iconlist-box">
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/jydq@2x.png"></div>
            <p>家用电器</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/Fitting@2x.png"></div>
            <p>家居家装</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="/orderList" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/market@2x.png"></div>
            <p>百货超市</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/icon_specialty.png"></div>
            <p>特产汇</p>
        </a>
    </div>
</div>
<div class="weui-flex wy-iconlist-box">
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/openStore@2x.png"></div>
            <p>我要开店</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/jrlc@2x.png"></div>
            <p>金融</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="/orderList" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/new@2x.png"></div>
            <p>新品众筹</p>
        </a>
    </div>
    <div class="weui-flex__item">
        <a href="javascript:;" class="wy-links-iconlist">
            <div class="img"><img src="http://cdn09.ehaier.com/shunguang/H5/www/img/gd@2x.png"></div>
            <p>更多</p>
        </a>
    </div>
</div>