<div class="title-recommend">精品推荐</div>
<div class="wy-iconlist-box-ex weui-flex" id="recommendBox">

</div>
<div class="weui-flex__item" style="display:none">
    <a href="javascript:;" class="wy-links-iconlist-ex"></a>
</div>

