html,
body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,div,span,a,b,i,strong,em,img,form,input,textarea,table,th,td,section{padding:0; margin:0;}
html,body{ font-family:'Microsoft Yahei',sans-serif; width:100%; height:100%;overflow:initial;}
body{background:#fff;color:#313131;font-size:14px;-webkit-overflow-scrolling:touch;}
h1,h2,h3,h4,h5,h6{ font-size:100%; line-height:100%; font-weight:normal;}
li{ list-style:none;}
a{ text-decoration:none; display: block; color:#313131;-webkit-tap-highlight-color: rgba(0,0,0,0)}
a:hover{text-decoration:none !important;cursor: pointer;}
i,em{ font-style:normal;}
strong,b{ font-weight:normal;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
input,button,select,textarea{ resize:none; outline:none; border:none 0;padding:0;font-family:'Microsoft Yahei',sans-serif; }
input[type="search"]{-webkit-appearance:none;} 
input::-webkit-search-cancel-button {display: none;}
li{ list-style:none; vertical-align:top;}
a img{ border:0; }
img{vertical-align: middle;width: 100%}
table{border-collapse:collapse; font-size:100%;font-weight:normal;}
table,tr,th,td{padding:0; font-size:100%;font-weight:normal;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after,.cl:after{display:block;clear:both;content:'';}
.clearfix,.cl{zoom:1;}
@font-face {
    font-family: 'iconfont';  /* project id 669428 */
    src: url('//at.alicdn.com/t/font_669428_n7v4zcv5a70evcxr.eot');
    src: url('//at.alicdn.com/t/font_669428_n7v4zcv5a70evcxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_669428_n7v4zcv5a70evcxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_669428_n7v4zcv5a70evcxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_669428_n7v4zcv5a70evcxr.svg#iconfont') format('svg');
  }

  .iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

  html body .weui-cell_access:active {
      background-color: transparent;
  }

/*首页最外层*/

#index_content {
    display: block;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*首页-轮播*/
.swper-radius {
    position: absolute;
    background: #fff;
    width: 150%;
    height: 90px;
    border-radius: 100%;
    z-index: 2;
    bottom: -68px;
    left: -25%;
    transition: all 0.5s ease;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 22px;
}

.swiper-pagination-bullet-active {
    background: #09bb07;
}


/*首页-快速导航*/

.wy-iconlist-box {
    background: #fff;
    padding: 0;
}

.wy-links-iconlist {
    display: block;
    text-align: center;
    margin: 5px 0;
}

.wy-links-iconlist .img {
    margin: 0 30%;
}

.wy-links-iconlist p {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.wy-links-iconlist img {
    width: 100%;
}


/*精品推荐*/

.title-recommend {
    border-bottom: 2px solid #f8f8f8;
    font-size: 12px;
    background-color: #fff;
    text-align: center;
    color: #666;
    padding: 5px;
}


/*列表*/

#recommendBox{ 
    flex-wrap: wrap;
}
.wy-iconlist-box-ex {
    background: #f8f8f8;
    padding: 0;
    overflow: hidden;
}

.wy-iconlist-box-ex .item {
    width: 50%;
    box-sizing: border-box;
    background: #fff;
    border: 2px solid #f8f8f8;
}

.wy-links-iconlist-ex {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.wy-links-iconlist-ex .img {
    margin: 0 23px;
    height: 0;
    padding-top: calc(100% - 46px);
    position: relative;
    box-sizing: border-box;
    background: url(../images/ajax.gif) center no-repeat;
    background-size: 50%;
}

.wy-links-iconlist-ex img {
    width: 100%;
    position: absolute;
    left: 0;;
    box-sizing: border-box;
    top:0;
}

.wy-links-iconlist-ex p {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

/*分类*/
.branch-box{
    width: 100%;
    height: calc(100% - 55px );
}
.branch-left{
  width: 26%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 0;
 
}
.branch-left li{
    text-align: center;
    height: 46px;
    line-height: 46px;
    position: relative;
}
.branch-left li.active{
    color: #09bb07;
}
.branch-left li.active::after{
    content: '';
    position: absolute;
    background: #09bb07;
    width: 4px;
    height: 20px;
    left: 8px;
    top: 14px;
}
.branch-right{
    border-left: 1px solid #c0bfc4;
    box-sizing: border-box;
}

.branch-right ul li{
    width: 33.3%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.branch-right ul li img{
    width: 80%;
}
.branch-right ul li p{
    font-size: 10px;
}
/*购物车*/

.wy-header {
    height: 41px;
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #f7f7fa;
}

.wy-header-icon-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 44px;
}

.wy-header-icon-back a {
    width: 20px;
    height: 20px;
    margin: 12px 0 0 10px;
    background: url(../images/icon-back.png) no-repeat;
    background-size: 20px;
    display: block;
}

.wy-header-title {
    margin: 0 50px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    color: #252525;
}

.wy-header-icon-index {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
}

.wy-header-icon-index a {
    width: 25px;
    height: 25px;
    margin: 9px 0 0 3px;
    background: url(../images/index_bak.png) no-repeat;
    background-size: 25px;
    display: block;
}

.weui-media-box_appmsg .weui-media-box__hd {
    width: 20px;
}

.wy-dele {
    width: 20px;
    height: 20px;
    background: url(../images/icon-dele.png) no-repeat;
    display: block;
    background-size: 20px;
}

.Spinner {
    display: block;
    overflow: hidden;
    width: 88px;
    margin: 0;
}

.Spinner a {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #d9d9d9;
    background-color: #f7f7f7;
    float: left;
    cursor: pointer;
    outline: 0;
}

.Spinner .Amount {
    width: 26px;
    height: 14px;
    padding: 4px 5px;
    line-height: 14px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    float: left;
    text-align: center;
    color: #333;
    outline: 0;
    font-size: 14px;
    border-left: 0px;
    border-right: 0px;
}

.Spinner .DisDe i {
    background-position: -0px -12px;
}

.Spinner a i {
    font-style: normal;
    background: url(../images/BuynBtn.png) no-repeat;
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px;
    text-indent: 999999%;
    overflow: hidden;
}

.Spinner .Increase i {
    background-position: -12px -0px;
}


/*用户中心*/

.center-list-icon {
    width: 20px;
    height: auto;
    vertical-align: unset;
}

.wy-iconlist-box {
    background: #fff;
    padding: 0;
}

.wy-links-iconlist {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.wy-links-iconlist p {
    font-size: 12px;
    color: #666;
}
.lz-shop-user .weui-cell.weui-cell_access{
    background-image: url(../images/head//user-bj.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*商品详情 */
.wy-header-titlebut {
    color: gray;
}
.wy-header-titlebut-active {
    color: #09bb07;
    border-bottom: 1px solid #09bb07;
    padding-bottom: 9px;
}
.wy-product-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    bottom: 45px;
    height: calc(100% - 84px);
    overflow: hidden;
}
.Spinner .Decrease i {
    background-position: -12px -12px;
}
.wy-media-box2 {
    margin: 10px 0;
    background: #fff;
    padding: 5px 10px;
    border-top: 0px solid #e1e1e1;
    border-bottom: 0px solid #e1e1e1;
}
.wy-media-box2 .weui-media-box_appmsg {
    border-top: 0px solid #ededed;
    padding-top: 0px;
}
.wy-media-box2 .weui-media-box_appmsg:first-child {
    border: 0;
    padding-top: 0;
}

.weui-media-box {
    padding: 1px;
}
.weui-cell:before{
    border-top: 0px solid #e5e5e5;
} 
.promotion-foot-menu-items {
    position: relative;
    padding: 5px 14px 0;
    text-align: center;
}
.promotion-foot-menu-kefu {
    background: url(../images/icon-kefu.png) no-repeat;
    background-size: 22px;
}
.promotion-foot-menu-collection {
    background: url(../images/icon-collection.png) no-repeat;
    background-size: 22px;
}
.promotion-foot-menu-cart {
    background: url(../images/footer03.png) no-repeat;
    background-size: 22px;
}
.promotion-foot-menu-label {
    line-height: 38px;
    color: #fff;
    font-size: 13px;
}
.promotion-foot-menu-collection-on {
    background: url(../images/icon-collection-on.png) no-repeat;
    background-size: 22px;
}
.wy-media-box2 {
    margin: 10px 0;
    background: #fff;
    padding: 5px 10px;
    border-top: 0px solid #e1e1e1;
    border-bottom: 0px solid #e1e1e1;
    box-sizing: border-box;
}
.wy-media-box2 .weui-media-box_appmsg {
    border-top: 0px solid #ededed;
    padding-top: 0px;
}
.wy-media-box2 .weui-media-box_appmsg:first-child {
    border: 0;
    padding-top: 0;
}
.weui-media-box_appmsg .weui-media-box__hd.proinfo-txt-l {
    width: 38px;
    height: auto;
    vertical-align: top;
}
.promotion-label-tit {
    font-size: 13px;
    color: gray;
    line-height: 12px;
}
.promotion-sku {
    padding: 8px 0 5px 0;
}
.promotion-sku li {
    float: left;
    margin: 5px 11px 1px 0;
    list-style: none;
}
.promotion-sku li a {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    min-width: 20px;
    padding: 7px 12px;
    max-width: 100%;
    text-align: center;
    font-size: 12px;
    color: #666;
    position: relative;
}
.promotion-sku li.active a {
    border: 1px solid #09bb07;
    color: #09bb07;
}
.promotion-sku li.active a:after {
    content: "";
    width: 12px;
    height: 12px;
    background: url(../images/xuanze.png) no-repeat;
    background-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
}


/*返回顶部*/

#tophovertree {
    display: none;
    position: fixed;
    width: 36px;
    height: 36px;
    right: 10px;
    bottom: 60px;
    cursor: pointer;
    background-image: url(../images/tophovertree.gif);
    opacity: 0.9;
}


/*底部导航*/

.weui-tabbar {
    height: 55px;
    position: fixed;
    bottom: 0;
}

.weui-bar__item_on{
    color: #09bb07;
}
.lz-shop-tabbar .weui-tabbar__label{
    margin-top: -5px;
}
.lz-shop-tabbar .iconfont{
    display: block;
    margin-top: -5px;
    font-size: 25px;
}
/*订单列表*/
.weui-navbar__item.proinfo-tab-tit {
    padding: 10px 0;
    color: #999;
}
.font-13 {
    font-size: 13px;
    font-weight: normal;
}

.weui-navbar__item.proinfo-tab-tit.weui-bar__item--on:before {
    content: "";
    width: 34px;
    height: 1px;
    background: #09bb07;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: 0px;
    z-index: 10;
}
.weui-navbar__item.weui-bar__item--on {
    color: #09bb07;
    background-color: inherit;
}

/*登录*/
.weui-cells:after {
    border-bottom: 0px solid #e5e5e5;
}

.weui-cells:after {
    border-bottom: 0px solid #e5e5e5;
}
.weui-cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px;
    z-index: 2;
}
.btnCode{
    height: 40px;
    box-sizing: border-box;
    padding: 5px;

}
/*弹出框*/
 #errorTip{
     transition: all 0.6s ease-in-out;
 }